
.service4 ul {
    padding: 0;
    list-style-type: none;
}

.service4 ul li {
        box-sizing: border-box;
    width: 275px;
    height: 40px;
    font-size: 17px;
    border-radius: 0.5em;
    margin: 10px;
    box-shadow: 0 0 1em rgba(0,0,0,0.2);
    color: white;
    font-family: sans-serif;
    text-transform: capitalize;
    line-height: 45px;
    transition: 0.2s;
    cursor: pointer;
}

.service4 ul li:nth-child(odd) {
    background: linear-gradient(to right, #337ab7, #87bdea);
    text-align: left;
    padding-left: 4%;
    transform: perspective(400px) rotateY(0deg);
}

.service4 ul li:nth-child(even) {
    background: linear-gradient(to left, #337ab7, #87bdea);
    text-align: left;
    padding-left: 3%;
    transform: perspective(300px) rotateY(0deg)
}

.service4 ul li:nth-child(odd):hover {
    transform: perspective(300px) rotateY(45deg);
    padding-left: 5%;
}

.service4 ul li:nth-child(even):hover {
    transform: perspective(345px) rotateY(-45deg);
    padding-right: 5%;
}
